<!-- links to GroundForge: nets. Called from page stitches --> 

<tr>
    <td style="text-align:center">
        <a href="/GroundForge/nets?b={{ include.s1 }}" target="_blank"> {{ include.s1 }}</a>
    </td>
    <td style="text-align:left">
       {% if include.name %}
         {{ include.name }}
       {% endif %}
    </td>
    <td style="text-align:left">
        {% if include.photo %}
           <a href="/MAE-gf/images/ctrl/{{ include.photo }}.jpg" target="_blank">
                                                                         <img src="/MAE-gf/images/ctrl/{{ include.photo }}.jpg" width=200px height=100px></a>
       {% endif %}
        
       {% if include.photo and include.comm %}
         <br>
       {% endif %}
        
       {% if include.comm %}
          {{ include.comm }}
       {% endif %}
    </td>
 </tr>
 
