<!-- links to GroundForge: nets. Called from page stitches --> 

<tr>
    <td>
        {% if include.photo %}
          <a href="/GroundForge/nets?b={{ include.s1 }}&img={{ include.photo }}" target="_blank"> {{ include.s1 }}</a>
        {% else %}
          <a href="/GroundForge/nets?b={{ include.s1 }}" target="_blank"> {{ include.s1 }}</a>
        {% endif %}
    </td>
    <td>
       {% if include.name %}
         {{ include.name }}
       {% endif %}
    </td>
    <td>
        {% if include.photo %}
           <a href="/MAE-gf/images/ctrl/{{ include.photo }}.jpg" target="_blank">
               <img src="/MAE-gf/images/ctrl/{{ include.photo }}.jpg" width=200px height=100px>
           </a>
       {% endif %}
        
       {% if include.photo and include.comm %}
         <br>
       {% endif %}
        
       {% if include.comm %}
          {{ include.comm }}
       {% endif %}
    </td>
 </tr>
 
