<figure style="display: inline-block; padding-bottom: 2em">
    <div>
        <a href="/MAE-gf/images_flanders/{{ include.src }}.JPG"
           target="_blank"
        ><img src="/MAE-gf/images_flanders/{{ include.src }}.JPG"
              width="220"
              height="220"
              style="margin-right:0em"
        ></a>
   </div>
   <figcaption style="display: block">
       <a href="/MAE-gf/images_flanders/{{ include.src }}.JPG"
          target="_blank"
       >zoom in</a>
       -
       <a href="https://d-bl.github.io/GroundForge/tiles?patchWidth=11&patchHeight=11&c1={{ include.d1 }}&d1={{ include.a1 }}&e1={{ include.b1 }}&c2={{ include.d2 }}&e2={{ include.b2 }}&d3={{ include.c1 }}&shiftColsSE=2&shiftRowsSE=2&shiftColsSW=-2&shiftRowsSW=2&footside=-5,B-,-2,b-,,&tile=831,4-7,-5-&headside=5-,-c,6-,-c"
          target="_blank"
       >diagrams</a>
       <br>
       {% if include.name %}
           {{ include.name }},
       {% endif %}
       {{ include.src }}
       <table style="width:150px">
           <tr><td>{{ include.d1 }}</td><td>{{ include.a1 }}</td><td>{{ include.b1 }}</td></tr>
           <tr><td>{{ include.d2 }}</td><td>&bull;</td><td>{{ include.b2 }}</td></tr>
           <tr><td>{{ include.b1 }}</td><td>{{ include.c1 }}</td><td>{{ include.d1 }}</td></tr>
       </table>
   </figcaption>
</figure>
