<h2>MENU</h2>

<h3>Start etc.</h3>
<p>
<a href="https://maetempels.github.io/MAE-gf/index">Start page</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/tricks">Tips, Tricks &amp; Notes</a><br>
</p>

<h3>Examples</h3>
<p>
<a href="https://maetempels.github.io/MAE-gf/docs/bias">Bias Grounds</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/snowflakes">Snowflakes</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/spiders">Spiders</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/tria">Triangular Grounds</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/fish">Milanese Fish</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/lotus">Milanese Lotus</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/misca">Miscellaneous examples</a><br>
</p>

<h3>Own examples</h3>
<p>  
<a href="https://maetempels.github.io/MAE-gf/docs/marian">Marian's grounds</a><br>
</p>

<h3>Miscellaneous</h3> 
<p>
<a href="https://maetempels.github.io/MAE-gf/docs/maths">Mathematics</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/about-us">About us &amp; Contact</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/licence">Copyright, license, references</a><br>
<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
</p>

<p><hr></p>

<h2>Groundforge</h2>
<p>
  <a href="https://d-bl.github.io/GroundForge/">Main site</a><br>
  <a href="https://d-bl.github.io/GroundForge/help/">User guide</a><br>
</p>

<p><hr></p>

<h2>References</h2>
<p>
  WI = Whiting Index <br>
  JP = J. Pol <br>
  MT = M. Tempels <br>
</p>

<p><hr></p>
  


