<h2>MENU</h2>

<h3>Start etc.</h3>
<p>
<a href="https://maetempels.github.io/MAE-gf/index">Start page</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/tricks">Tips, Tricks &amp; Notes</a><br>
</p>

<h3>Examples</h3>
<p>
<a href="https://maetempels.github.io/MAE-gf/docs/bias">Bias Grounds</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/paris">Paris Grounds</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/snowflakes">Snowflakes</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/spiders">Spiders</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/tria">Triangular Grounds</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/fish">Milanese Fish</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/lotus">Milanese Lotus and Lattice</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/misca">Miscellaneous examples</a><br>
</p>

<h3>Own examples</h3>
<p>  
<a href="https://maetempels.github.io/MAE-gf/docs/marian">Grounds by Marian</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/flanders">Flanders grounds by &apos;t Groene Hart</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/droste">Droste</a><br>
</p>

<h3>Miscellaneous</h3> 
<p>
<a href="https://maetempels.github.io/MAE-gf/docs/about-us">About us &amp; Contact</a><br>
<a href="https://maetempels.github.io/MAE-gf/docs/license">Copyright, license, references</a><br>
<br>
<img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
</p>

<p><hr></p>

<h2>Groundforge</h2>
<p>
  <a href="https://d-bl.github.io/GroundForge/tiles">Main page</a><br>
  <a href="https://d-bl.github.io/GroundForge/help/">User guide</a><br>
  
</p>

<p><hr></p>


  


