<form>
    First blob starts
    <input type="radio" name="firstBlob" value="l" id="firstBlobLeft"> <label for="firstBlobLeft">left</label>
    <input type="radio" name="firstBlob" value="r" id="firstBlobRight" checked> <label for="firstBlobRight">right</label>
    <textarea id="blobs" name="blobs" rows="1" cols="35" spellcheck="false">rclc,ctc,ctc,crcl</textarea>
    <a id="link" href="#" target="_blank"><button type="button">Go</button></a>
    <script>
    function update(){
        const blobs = document.getElementById('blobs').value.split(",");
        const nrOfBlobs = blobs.length;
        let href = "/GroundForge/droste?droste2=";
        for (let i = 0; i < nrOfBlobs; i++) {
            href += `b1${i}=${blobs[i]},`
        }
        href += "&b1="
        if (document.getElementById("firstBlobRight").checked) {
            href += "rc".repeat(nrOfBlobs).substring(0,nrOfBlobs)
        }
        else {
            href += "lc".repeat(nrOfBlobs).substring(0,nrOfBlobs)
        }
        document.getElementById("link").href = href + "&patchWidth=3&patchHeight=5&paintStitches=rcrc&tile=-5&shiftColsSW=-1&shiftRowsSW=1&shiftColsSE=1&shiftRowsSE=1&droste3=ctc,b100=ctcttctc"
    }
    update()
    </script>
</form>
