<form style="background-color: #EBEBEB">
    First bounce on the
    <span style="display: inline-block">
        <input type="radio" name="first-bounce" value="r" id="first-bounce-right" checked onchange="update()">
        <label for="first-bounce-right">right</label>
        <br>
        <input type="radio" name="first-bounce" value="r" id="first-bounce-left" onchange="update()">
        <label for="first-bounce-left">left</label>
    </span>
    &nbsp;
    Connection
    <span style="display: inline-block">
        <input type="radio" name="conn" value="l" id="conn-closed" onchange="update()">
        <label for="conn-closed">closed</label>
        <br>
        <input type="radio" name="conn" value="r" id="conn-open" onchange="update()" checked>
        <label for="conn-open">open</label>
    </span>
    <input type="text" id="blobs" name="blobs" width="35" spellcheck="false" onchange="update()" value="lcr,rccl,lcr">
    <a id="link" href="#" target="_blank">
        <button type="button">Go</button>
    </a>
    <script>
        function validate(){
            return /[ctlr]+(,[ctlr]+)+/.test(document.getElementById('blobs').value)
        }
        function update() {
            const blobs = document.getElementById('blobs').value.split(",");
            const nrOfBlobs = blobs.length;
            let href = "https://d-bl.github.io/GroundForge/stitches?";
            if (nrOfBlobs == 2) {
                href += "d3=" + blobs[0]
                href += "&d5=" + blobs[1]
                if (document.getElementById("conn-open").checked) {
                    href += "&e4=crcrrrr&c4=clcllll"
                } else {
                    href += "&e4=crrrr&c4=cllll"
                }
                href += "&patchWidth=7&patchHeight=7&tile=-5-5-5,5-5-5-,-5-5-5,5-5-5-,-5-5-5,5-5-5-&shiftColsSW=0&shiftRowsSW=6&shiftColsSE=6&shiftRowsSE=6"
                href += "&b1=ctctttt&d1=ctctttt&f1=ctctttt&a2=ctctttt&c2=ctctttt&e2=ctctttt&b3=ctctttt&f3=ctctttt&a4=ctctttt&b5=ctctttt&f5=ctctttt&a6=ctctttt&c6=rrrrctctttt&e6=llllctctttt"
            }
            else if (nrOfBlobs >= 3) {
                href += "d3=" + blobs[0]
                href += "&d5=" + blobs[1]
                href += "&d7=" + blobs[2]
                if (document.getElementById("first-bounce-right").checked) {
                    if (document.getElementById("conn-open").checked) {
                        href += "&a4=crcrrrr&c6=clcllll"
                    } else {
                        href += "&a4=crrrr&c6=cllll"
                    }
                    href += "&c4=-&a6=-"
                } else {
                    if (document.getElementById("conn-closed").checked) {
                        href += "&c4=crcllll&a6=clcrrrr"
                    } else {
                        href += "&c4=cllll&a6=crrrr"
                    }
                    href += "&a4=-&c6=-"
                }
                href += "&patchWidth=7&patchHeight=9&tile=-5-5,5-5-,-5-5,5-5-,-5-5,5-5-,-5-5,5-5-&shiftColsSW=0&shiftRowsSW=8&shiftColsSE=4&shiftRowsSE=8"
                href += "&d1=ctctttt&b1=ctctttt&c2=ctctttt&a2=ctctttt&b3=ctctttt&c4=-&b5=ctctttt&a6=-&b7=ctctttt&c8=rrrrctctttt&a8=llllctctttt"
            }
            document.getElementById("link").href = href
        }
        update()
    </script>
</form>
