Some less trivial stitches to copy-paste, drop or add twists at will.<br>
{% include gallery.html alt="" src="../images_stitches/crclct.png" caption="crclct<br>clcrct" %}
{% include gallery.html alt="" src="../images_stitches/clcrclc.png" caption="clcrclc<br>crclcrc" %}
{% include gallery.html alt="" src="../images_stitches/ctctc.png" caption="ctctc<br>&nbsp;" %}
{% include gallery.html alt="" src="../images_stitches/ctclctc.png" caption="ctclctc<br>ctcrctc" %}
{% include gallery.html alt="" src="../images_stitches/ctclcrctc.png" caption="ctclcrctc<br>ctcrclctc" %}
{% include gallery.html alt="" src="../images_stitches/ctcttctc.png" caption="ctcttctc<br>&nbsp;" %}
{% include gallery.html alt="" src="../images_stitches/tctctllctctr.png" caption="tctctllctctr<br>tctctrrctctl" %}

Each second string is the mirrored version of the displayed stitch.
Note that the last two images are two stitches with the edge pin left out,
these siamese twins show up as one in the pair diagrams.
