A list with some less trivial stitches to copy-paste, drop or add twists at will.

{% include picts-left.html src="../images_stitches/crclct.png" description="crclct<br>clcrct" %}
{% include picts-left.html src="../images_stitches/clcrclc.png" description="clcrclc<br>crclcrc" %}
{% include picts-left.html src="../images_stitches/ctctc.png" description="ctctc<br>&nbsp;" %}
{% include picts-left.html src="../images_stitches/ctclctc.png" description="ctclctc<br>ctcrctc" %}
{% include picts-left.html src="../images_stitches/ctclcrctc.png" description="ctclcrctc<br>ctcrclctc" %}
{% include picts-left.html src="../images_stitches/ctcttctc.png" description="ctcttctc<br>&nbsp;" %}
{% include picts-left.html src="../images_stitches/tctctllctctr.png" description="tctctllctctr<br>tctctrrctctl" %}

Each second string is the mirrored version of the displayed stitch.
Note that the last two images are two stitches with the edge pin left out,
these siamese twins show up as one in the pair diagrams.
