<form>
    <p style="margin: 0">
        <input name="topLeft" id="topLeft" type="text" onchange="update()" value="ct" style="max-width: 30%">
        <input name="top" id="top" type="text" onchange="update()" value="ctct" style="max-width: 30%">
        <input name="topRight" id="topRight" type="text" onchange="update()" value="ct" style="max-width: 30%">
    </p>
    <p style="margin: 0">
        <input name="left" id="left" type="text" onchange="update()" value="ct" style="max-width: 30%">
        <input name="center" id="center" type="text" onchange="update()" value="ct" style="max-width: 30%">
        <input name="right" id="right" type="text" onchange="update()" value="ct" style="max-width: 30%">
    </p>
    <p style="margin: 0">
        <input name="bottomLeft" id="bottomLeft" type="text" onchange="update()" value="ctct" style="max-width: 30%">
        <input name="bottom" id="bottom" type="text" onchange="update()" value="ctct" style="max-width: 30%">
        <input name="bottomRight" id="bottomRight" type="text" onchange="update()" value="ctct" style="max-width: 30%">
    </p>
    <p style="margin-bottom: 0">
        connection:
        <input name="connection" id="conn" type="text" onchange="update()" value="ctct">
    </p>
</form>

<p style="margin-top: 1em">
    <a id="roseButton" href="#val"><img src="/MAE-gf/images/droste/rose.svg" class="clpic" title="rose ground via ctc"></a>
    <a id="ltrButton" href="#val"><img src="/MAE-gf/images/droste/bias-ltr.svg" class="clpic" title="bias ground via lcr"></a>
    <a id="rtlButton" href="#val"><img src="/MAE-gf/images/droste/bias-rtl.svg" class="clpic" title="bias ground via rcl"></a>
</p>


<script>
    function droste1(stitch){
        return `c1=${stitch}&b2=${stitch}&b1=ct&a1=ctll&g2=ctrr&c2=ct`
    }
    function update(){
        var topLeft = document.getElementById("topLeft").value
        var top = document.getElementById("top").value
        var topRight = document.getElementById("topRight").value
        var left = document.getElementById("left").value
        var center = document.getElementById("center").value
        var right = document.getElementById("right").value
        var bottomLeft = document.getElementById("bottomLeft").value
        var bottom = document.getElementById("bottom").value
        var bottomRight = document.getElementById("bottomRight").value
        var conn = document.getElementById("conn").value

        var shifts = "shiftColsSW=0&shiftRowsSW=2&shiftColsSE=2&shiftRowsSE=2"
        var patch = "patchWidth=5&patchHeight=10"
        var defaultStitches = "footsideStitch=cttt&tileStitch=ctct&headsideStitch=cttt"
        var matrices = "footside=b,-&tile=88,11&headside=-,c"
        var url = "/GroundForge/tiles"
        var shared = `${url}?${matrices}&${defaultStitches}&${patch}&${shifts}&`
        var rose = `b12=b11=${topLeft},c10=b20=${top},c22=c21=${topRight},c12=b22=${right},c11=b21=${left},c14=b24=${bottomLeft},c13=b23=${bottom},c15=b25=${bottomRight},b10=c20=${conn},a11=rrrtcttt,g22=lllctcttt`
        var ltr = `b12=b11=${topLeft},c10=b20=${top},c22=c21=${topRight},c13=b23=${right},c12=b22=${center},c11=b21=${left},c16=b26=${bottomLeft},c14=b24=${bottom},c15=b25=${bottomRight},b10=c20=${conn}`
        var rtl = `b12=b11=${topLeft},c10=b20=${top},c22=c21=${topRight},c13=b23=${left},c12=b22=${center},c11=b21=${right},c16=b26=${bottomLeft},c14=b24=${bottom},c15=b25=${bottomRight},b10=c20=${conn}`
        document.getElementById("roseButton").href = `${shared}&${droste1("ctct")}&droste2=${rose}&`
        document.getElementById("ltrButton").href = `${shared}&${droste1("clcrct")}&droste2=${ltr}&`
        document.getElementById("rtlButton").href = `${shared}&${droste1("crclct")}&droste2=${rtl}&`
    }
    update()
</script>
