---
---

@import "{{ site.theme }}";

/* steken en elementen */
.elem {border: 1px solid DeepSkyBlue;}
.stch {border: 1px solid DarkTurquoise;}
.form {background-color: OldLace; font: 12px courier-new;}
