---
---

@import "{{ site.theme }}";

/* steken en elementen */
.stch {border: 1px solid #DBE7F3; background-color: #F2F8FC}
.elem {border: 1px solid #DBE7F3;}
.form {background-color: White; font: courier-new;}

/* test */
h1 {color: red;}
h2 {color: green;}
