---
---

@import "{{ site.theme }}";

/* stitches & elements */
.stch {border: 1px solid #DBE7F3; background-color: #F2F8FC;}
.elem {border: 1px solid #DBE7F3;}
.b-grey {background-color: white; color: grey;} 
.b-gree {background-color: white; color: lime;} 
.b-purp {background-color: white; color: purple;} 
.b-red  {background-color: white; color: red;} 
.b-blue {background-color: white; color: blue;} 

/* copied from Jo Pol */
#sidebar hr { height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.2); }

/* pictures */
figure { display: block; margin:0; }

/* border 
.clpic {border-style: solid; border-width: 1px; border-color: LightBlue;} 

/* floating pictures */
.break { clear: both; }


