---
---

@import "{{ site.theme }}";

/* steken en elementen */
.elem {border: 1px solid #DBE7F3; background-color: #F2F8FC}
.stch {border: 1px solid #DBE7F3;}
.form {background-color: White; font: courier-new;}
