---
---

@import "{{ site.theme }}";

Header { background: #2e7bcf url(../images/header-bg-left.png) top right repeat; padding: 0; }
.outer { background: url(../images/header-bg-right.png) top right repeat-y; padding-top: 40px; padding-bottom: 40px; }
header a.button { background-color: #2e7bcf; }

header h1 a{color: #fff}
header h1 a:hover {color: #9ddcff}
.deprecated { background: darkorange; padding: 2px; }
header h1, header h2 {width:100%}


#sidebar ul { padding-left: 0; margin-bottom: 0; font-weight: bold; font-size: 12px; color: #474747; }
#sidebar ul { font-weight: normal; }
#sidebar sub { font-weight: normal; }
#sidebar li { list-style-type: none; padding-bottom: 0; }
#sidebar ul ul { padding-left: 16px;  padding-bottom: 0;}

#main-content li ul  { padding-bottom: 0; }

#hamburger-menu {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 30px;
    height: 30px;
}
@media (max-width: 767px) {
    #hamburger-menu {
        display: block;
    }
}

/* stitches & elements */
.stch {border: 1px solid #DBE7F3; background-color: #F2F8FC;}
.elem {border: 1px solid #DBE7F3;}
.b-whit {color: #FFFFFF; font-weight: bold;}
.b-grey {color: #808080; font-weight: bold;}
.b-gree {color: #008000; font-weight: bold;}
.b-purp {color: #800080; font-weight: bold;}
.b-red  {color: #FF0000; font-weight: bold;}
.b-blue {color: #0000FF; font-weight: bold;}
.b-blck {color: #000000; font-weight: bold;}
.b-orng {color: #FF6600; font-weight: bold;}
.b-yell {color: #FFFF00; font-weight: bold;}
.b-pink {color: #ff00ff; font-weight: bold;}

/* copied from Jo Pol */
#sidebar hr { height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.2); }
#sidebar h2, h3 { margin-bottom: 1px; margin-top: 3px; }

/* pictures */
figure { display: block; margin:0; }

/* border */
.clall, img {border-style: solid; border-width: 1px; border-color: #EBEBEB}
.clpic, a img:not(#Sidebar) {border-style: solid; border-width: 1px; border-color: #ADD8E6; margin-right: 1em;}

/* Abusing extended URLs:
 * query arguments can play the role of classes in HTML that are not available in MarkDown.
 * Be careful with the this "ends with" condition:
 * "?abc=right-hand" would also match: [src~="c=right"]
 */
img[src$="align=right"] { float: right; margin-left:1em }
img[src$="align=left"] { float: left; margin-right:1em }
img[src$="align=center"] { text-align: center }
img[src$="x=button"] {box-shadow: 3px 3px #ebebeb;}

/* floating pictures */
.break { clear: both; }

/* tables in stitches.md and counting.md */
/*.cctt td,th {text-align:left; padding:5px}*/
.cctt td {text-align:left; padding:5px}
.cctt th {text-align:center; padding:5px; font-weight:bold;}

/* tables in oidfa.md */
.oidfa td {text-align:left; padding:5px}
.oidfa th {text-align:left; padding:5px; font-weight:bold;}

